# ðŸŒŸ Exercise 1: Identifying Data Types

Below are various data sources. Identify whether each one is an example of structured or unstructured data.

- A companyâ€™s financial reports stored in an Excel file.

  **structured**

- Photographs uploaded to a social media platform.

  **unstructured**

- A collection of news articles on a website.

  **unstructured**

- Inventory data in a relational database.

  **structured**

- Recorded interviews from a market research study.

  **unstructured**

# ðŸŒŸ Exercise 2: Transformation Exercise

For each of the following unstructured data sources, propose a method to convert it into structured data. Explain your reasoning.

- A series of blog posts about travel experiences.

  **Answer**: *Blog posts are unstructured text. They can be converted into structured data by extracting key fields such as author, publication date, location, main topics, and sentiment.
  Each blog post can become one row in a table, with columns representing these attributes, making it easier to analyze trends in destinations or traveler opinions.*

- Audio recordings of customer service calls.

  **Answer**: *Audio recordings are unstructured data. The first step is to transcribe the audio into text. From the transcriptions, relevant fields such as customer ID, call duration, issue category, and resolution status can be extracted and stored in a structured database for reporting and analysis.*

- Handwritten notes from a brainstorming session.

  **Answer**: *Handwritten notes can be digitized using optical character recognition (OCR). Once converted to text, ideas can be categorized by topic, author, or priority, and stored in a structured format such as a table or spreadsheet.*

- A video tutorial on cooking.

  **Answer**: *A video tutorial is unstructured multimedia data. It can be transformed by extracting structured elements such as recipe name, ingredients, cooking steps, and cooking time. These elements can then be organized into a structured recipe database.*

# ðŸŒŸ Exercise 3 : Import a file from Kaggle

Note: This dataset was originally sourced from Kaggle, but for easier access, it has been made available on GitHub.

ðŸ‘‰ Please download the dataset directly from the GitHub repository to use it in this project.

- Import the train dataset. Use the train.csv file.

- Print the first few rows of the DataFrame.

## Answer

In [1]:
import pandas as pd

df = pd.read_csv('data/train.csv')

print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

 # ðŸŒŸ Exercise 4: Importing a CSV File

Use the Iris Dataset CSV.

- Download the Iris dataset CSV file and place it in the same directory as your Jupyter Notebook.

- Import the CSV file using Pandas.

- Display the first five rows of the dataset.

## Answer

In [2]:
import pandas as pd

iris_df = pd.read_csv('data/Iris.csv')

print(iris_df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

# ðŸŒŸ Exercise 5 : Export a dataframe to excel format and JSON format.

- Create a simple dataframe.
- Export the dataframe to an excel file.
- Export the dataframe to a JSON file.

## Answer

In [4]:
import pandas as pd
import openpyxl

data = {
    'Name': ['Bill', 'Fred', 'Bob'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'London']
}

df = pd.DataFrame(data)

df.to_excel('output.xlsx', index=False)

df.to_json('output.json')

# ðŸŒŸ Exercise 6: Reading JSON Data

Use a sample JSON dataset

- Import the JSON data from the provided URL.
- Use Pandas to read the JSON data.
- Display the first five entries of the data.

## Answer

In [5]:
import pandas as pd

df = pd.read_json('data/posts.json')

print(df.head())

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...